body {
    background-color: #fbfbfb;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    position: relative;
    min-height: 100vh;
}
/**
 * Sidebar (Filter)
 *************************************************/
.sidebar {
    width: 240px;
    box-sizing: border-box;
    align-content: stretch;
    flex: 0 0 240px;
}
.sidebar-inner {
    position: sticky;
    margin: 15px 5px 15px 15px;
    padding: 15px;
    top: 20px;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 10px;
}
.sidebar__logo {
    white-space: nowrap;
    padding: 0 8px 15px 8px;
    border-bottom: 1px solid #eee;
}
.sidebar__logo__img {
    width: 50px;
    vertical-align: middle;
}
.sidebar__logo__text {
    display: inline-block;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 500;
    vertical-align: middle;
}
.sidebar__logo__text-patch {
    color: #fa8268;
}
.sidebar__logo__text-reporter {
    color: #55d0a2;
}
.sidebar__filters {
    margin: 20px 0 10px;
    padding-left: 8px;
}
.sidebar__filters li {
    white-space: nowrap;
    list-style: none;
    margin-bottom: 16px;
}
.sidebar__filters li:last-child {
    margin-bottom: 0;
}
.sidebar__filter {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}
.sidebar__filter__checkbox-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.sidebar__filter__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.sidebar__filter__checkbox {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.sidebar__filter:hover .sidebar__filter__checkbox {
    border-color: #55d0a2;
}
.sidebar__filter__input:checked ~ .sidebar__filter__checkbox {
    background-color: #55d0a2;
    border-color: #55d0a2;
}
.sidebar__filter__checkbox:after {
    position: absolute;
    top: 50%;
    left: 21%;
    display: table;
    width: 5.71428571px;
    height: 9.14285714px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0) translate(-50%, -50%);
    -ms-transform: rotate(45deg) scale(0) translate(-50%, -50%);
    transform: rotate(45deg) scale(0) translate(-50%, -50%);
    -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    content: ' ';
}
.sidebar__filter__input:checked ~ .sidebar__filter__checkbox:after {
    -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
    -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
    transform: rotate(45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
}
.sidebar__filter__text {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 20px);
    display: inline-block;
}


/**
 * Contents
 *************************************************/
.contents {
    max-width: 1180px;
    padding-top: 25px;
    margin: auto;
    flex: 1;
}

.releases {
    display: flex;
    flex-direction: column;
}
.releases__item {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}
.releases__item__date {
    flex: 0 0 130px;
    margin-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.releases__item__date-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    font-size: 1.3em;
    color: #555;
}
.releases__item__timeline {
    position: relative;
    width: 40px;
    text-align: center;
}
.releases__item__timeline__line {
    display: inline-block;
    width: 2px;
    height: 100%;
    box-sizing: border-box;
}
.releases__item:first-child .releases__item__timeline__line {
    padding-top: 20px;
}
.releases__item__timeline__line:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}
.releases__item__timeline__thumb {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow: hidden;
}
.releases__item__timeline__thumb img {
    width: 100%;
    height: 100%;
}
.releases__item__contents {
    flex: 1;
    padding: 12px 15px 20px 15px;
}
.releases__item__contents-inner {
    padding: 18px 25px 13px 25px;
    box-shadow: 0 2px 5px -2px rgba(63,63,63,.39);
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.releases__item__contents-inner:hover {
    /*transform: scale(1.01);*/
    box-shadow: 0 2px 12px -2px rgba(63, 63, 63, 0.48);
}
.releases__item__contents__name {
    display: inline-block;
    margin-bottom: 13px;
    font-size: 1.8em;
    color: #333333;
}
.releases__item__contents__repo-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    color: #999;
}
.releases__item__contents__body {
    max-height: 90px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ddd;
    padding-left: 15px;
    transition: max-height 0.5s ease;
}
.releases__item__contents__more-btn {
    text-align: center;
    cursor: pointer;
    height: 25px;
    width: 100%;
}
.releases__item__contents__more-btn img {
    width: 25px;
    padding-top: 10px;
    opacity: 0.5;
    transform: rotate(90deg);
    transition: all 0.5s ease;
    pointer-events: none;
}
.releases__item.opened .releases__item__contents__more-btn img {
    transform: rotate(-90deg);
}


/**
 * Setting
 *************************************************/
.setting-btn-wrapper {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.setting-btn-wrapper img {
    width: 25px;
    opacity: 0.4;
}


/**
 * Loading
 *************************************************/
.loading {
    width: 100%;
    height: 100%;
    text-align: center;
}

.loading > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.loading .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(0.8);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    40% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
}

/**
 * Common
 *************************************************/

.hide {
    display: none;
}
